export RESOURCE_GROUP="<RESOURCE-GROUP-NAME>"  # ex. rg_azfuncws01
export REGION="<REGION>"                       # ex. japanest

export STORAGE_ACCOUNT_NAME="<STORAGE-ACCCOUNT-NAME>"  # ex. azfuncws01
export QUEUE_NAME="<QUEUE-NAME-FOR-TRAIN>"             # ex. trainqueue

export AZFUNC_APP_NAME="<AZURE-FUNCTION-APP-NAME>"     # ex. azfuncws01
export APP_SERVICE_PLAN_NAME="<APP-SERVICE-PLAN-NAME: WEB-UI>"  # ex. azfuncws01plan
export APPINSIGHTS_INSTRUMENTATIONKEY="<APP-INSIGHTS-INSTRUMENTATION-KEY>"  # ex. a0b578a9-xxxx-xxxx-bd11-a96d9ed568cf

export COSMOSDB_ACCOUNT_NAME="<CUSOMOS DB ACCOUNT NAME>"
export COSMOSDB_DATABASE_NAME="<COSMOSDB DB NAME>"
export COSMOSDB_ASSET_COLLECTION_NAME="<COSMOSDB COLLECTION NAME FOR ASSET>"
export COSMOSDB_USER_COLLECTION_NAME="<COSMOSDB COLLECTION NAME FOR USER>"
export COSMOSDB_PHOTO_COLLECTION_NAME="<COSMOSDB COLLECTION NAME FOR PHOTO>"

export FACEAPI_ENDPOINT="<FACEAPI-ENDPOINT>"          # ex. https://yoichikafaceapi.cognitiveservices.azure.com
export FACEAPI_SUBKEY="<FACEAPI SUBSCRIPTION KEY>"    # ex. xxxxxxxxxxxxxxxxxxxxxx
